<ul id="navbar-list" class="navbar-nav override">
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a href="#" class="nav-link override" id="Home">Home</a>
    </li>
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a href="#" class="nav-link override" id="About">About</a>
    </li>
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a href="#" class="nav-link override" id="Contact">Contact</a>
    </li>
</ul>
<span class="drawer-inset-shadow"></span>