<div class="nav-drawer">
	<div class="row">
		<div class="col-12">
			<div class="drawer-title-container">
				<p class="drawer-title-text">LOGO</p>
			</div>
			<div class="drawer-list-container">
				<ul class="drawer-list">
					<li class="drawer-list-item" (click)="onLinkClick('home')">
						<a id="home" class="drawer-item-link drawer-link-active" routerLink="/"><fa-icon class="icon" icon="home"></fa-icon>Home</a>
					</li>
					<li class="drawer-list-item" (click)="onLinkClick('contact-us')">
						<a id="contact-us" class="drawer-item-link"
							routerLink="/"><fa-icon class="icon" icon="phone-alt"></fa-icon>Contact Us</a>
					</li>
					<li class="drawer-list-item" (click)="onLinkClick('registration')">
						<a id="registration" class="drawer-item-link"
							routerLink="/"><fa-icon class="icon" icon="envelope"></fa-icon>Register</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<span class="nav-drawer-shadow"></span>