<div class="nav-drawer">
	<div class="row">
		<div class="col-12">
			<div class="drawer-title-container">
				<p class="drawer-title-text">LOGO</p>
			</div>
			<div class="drawer-list-container">
				<ul class="drawer-list">
					<li class="drawer-list-item" (click)="onLinkClick('home')">
						<a id="home" class="drawer-item-link" routerLink="/"><span class="fa fa-home"></span>Home</a>
					</li>
					<li class="drawer-list-item" (click)="onLinkClick('registration')">
						<a id="registration" class="drawer-item-link"
							routerLink="/registration"><span class="fa fa-phone"></span>Register</a>
					</li>
					<li class="drawer-list-item" (click)="onLinkClick('contact-us')">
						<a id="contact-us" class="drawer-item-link"
							routerLink="/contact-us"><span class="fa fa-envelope"></span>Contact Us</a>
					</li>
					<li class="drawer-list-item" (click)="onLinkClick('feedback')">
						<a id="feedback" class="drawer-item-link"
							routerLink="/feedback"><span class="fa fa-comments-o"></span>Feedback</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<span class="nav-drawer-shadow"></span>