:host {
  position: relative;
  display: block;
  left: 0;
  transition: left 0.3s ease;
}

:host.drawer-open {
  left: 70%;
}

.nav-bar {
  position: fixed;
  display: block;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.navbar-padding {
  display: block;
  position: relative;
  margin-top: 3.5rem;
}

.dummy-text {
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: justify;
}