.navbar-shadow {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.nav-toggler {
	position: absolute;
	display: block;
	margin-left: 1rem;
	left: 0;
	width: 25px;
	height: 40px;
	transition: 0.3s ease;
}

.nav-toggler span {
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	height: 3px;
	background-color: black;
	transition: 0.3s ease;
	transform-origin: center;
}

.nav-toggler span:nth-child(1) {
	top:26%;
}

.nav-toggler span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.nav-toggler span:nth-child(3) {
	top: 50%;
	transform: translateY(-50%);
}

.nav-toggler span:nth-child(4) {
	bottom: 26%;
}

.nav-toggler.open span:nth-child(1) {
	top:50%;
	left: 50%;
	width: 0%;
	opacity: 0;
}

.nav-toggler.open span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}

.nav-toggler.open span:nth-child(3) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

.nav-toggler.open span:nth-child(4) {
	bottom:50%;
	left: 50%;
	width: 0%;
	opacity: 0;
}

.navbar-brand.override {
    position: relative;
	display: block;
    margin-left: auto;
	margin-right: auto;
	font-weight: bold;
}

@media screen and (min-width: 48rem) {

	.nav-toggler,
	.nav-toggler.open {
		display: none;
	}

	.navbar-brand.override {
		margin: 0 1rem 0 0;
	}

}